
html {
    font-size: 62.5%;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
}


.leaflet-popup-content > table img {
    width: 300px;
}
.leaflet-popup-content > img {
    width: 300px;
}


        #map {
            width: 100%;
            height: 540px;
            background-color: #fff;
        }
        th {
            text-align: left;
            vertical-align: top;
        }
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h2 {
            margin: 0 0 5px;
            color: #777;
        }
        .leaflet-container {
            background: #fff;
            padding-right: 10px;
        }
        .leaflet-popup-content {
            width:auto;
            padding-right:10px;
        }
        .leaflet-tooltip {
            background: none;
            box-shadow: none;
            border: none;
        }
        .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
            border: 0px;
        }
        
        .fa, .leaflet-container, a {
            color: #000000 !important;
        }
        .leaflet-control-zoom-in, .leaflet-control-zoom-out,
        .leaflet-control-locate a,
        .leaflet-touch .leaflet-control-geocoder-icon,
        .leaflet-control-search .search-button,
         .leaflet-control-measure {
            background-color: #f8f8f8 !important;
            border-radius: 0px !important;
            color: #000000 !important;
        }
        .abstract {
            font: bold 18px 'Lucida Console', Monaco, monospace;
            text-indent: 1px;
            background-color: #f8f8f8 !important;
            width: 30px !important;
            color: #000000 !important;
            height: 30px !important;
            text-align: center !important;
            line-height: 30px !important;
        }
        .abstractUncollapsed {
            padding: 6px 8px;
            font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
            background-color:#f8f8f8 !important;
            color: #000000 !important;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
            max-width: 40%;
        }
        .leaflet-touch .leaflet-control-layers,
        .leaflet-touch .leaflet-bar,
        .leaflet-control-search,
        .leaflet-control-measure {
            border: 3px solid rgba(245, 142, 8, 0.4) !important;
        }
        .leaflet-control-attribution a {
            color: #0078A8 !important;
        }
        .leaflet-control-scale-line {
            border: 2px solid #f8f8f8 !important;
            border-top: none !important;
            color: black !important;
        }
        .leaflet-control-search .search-button,
        .leaflet-container .leaflet-control-search,
        .leaflet-control-measure {
            box-shadow: none !important;
        }
        .leaflet-control-search .search-button {
            width: 30px !important;
            height: 30px !important;
            font-size: 13px !important;
            text-align: center !important;
            line-height: 30px !important;
        }
        .leaflet-control-measure .leaflet-control {
            width: 30px !important;
            height: 30px !important;
        }
        .leaflet-container .leaflet-control-search{
            background: none !important;
        }
        .leaflet-control-search .search-input {
            margin: 0px 0px 0px 0px !important;
            height: 30px !important;
        }
        .leaflet-control-measure {
            background: none!important;
            border-radius: 4px !important;
        }
        .leaflet-control-measure .leaflet-control-measure-interaction {
            background-color: #f8f8f8 !important;
        }
        .leaflet-touch .leaflet-control-measure
        .leaflet-control-measure-toggle,
        .leaflet-touch .leaflet-control-measure
        .leaflet-control-measure-toggle:hover {
            width: 30px !important;
            height: 30px !important;
            border-radius: 0px !important;
            background-color: #f8f8f8 !important;
            color: #000000 !important;
            font-size: 13px;
            line-height: 30px;
            text-align: center;
            text-indent: 0%;
        }
        .leaflet-control-layers-toggle {
            background-color: #f8f8f8 !important;
        }

        
        /* MY CUSTOMIZATION BEGINS HERE */
        
      
        *:hover {
            transition: all ease-in-out 2s;
        }

        .leaflet-control-layers:hover {
            transition: all ease-in-out 100ms;
        }

        #footer {
            position: fixed;
            display: flex;
            width: 100%;
            background-color: #eee;
            align-items: center;
            bottom: 0;
            z-index: 99;
        }

        #showCoordinatesDiv {
            display: flex;
            margin-left: 10px;
            width: 200px;
            height: 35px;
            border: 4px solid #c13584;
        }

        #captureCoordinatesDiv {
            display: flex;
            margin-left: 10px;
            height: 35px;
            width: 200px;
            border: 4px solid #c13584;
        }

        #showCoordinates {
            font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            opacity: 0.9;
            align-self: center;
        }
       
        #captureCoordinates {
            font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.8rem;
            font-weight: 100;
            color: #02041a;
            align-self: center;
        }
        
        .main-left #title {
            position: relative;
            margin-left: 50px;
            color: blue; 
            text-align: center; 
            font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2.6rem; 
            background-color: #ffe;
            z-index: 1000;
        }

        #description {
            padding: 50px 60px;
        }

        #description p {
            font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 1.5;
            font-size: 1.4rem;
            color: #fff;
        }

        #description h2 {
            font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2.6rem;
            line-height: 1.5;
            font-weight: 600;
            color: #fff;
        }

        #footer p {
            font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.4rem;
            color: #02041a;
            margin-left: 50px
        }

        .main {
            width: 100%;
            height: 500px;
        }
        .main-left {
            background-color: #fff;
            width: 60%;
            height: fit-content;
            float: left;
            padding-right: 10px;
           
        } 
        .main-right {
            background-color: #030a0e;
            width: 40%;
            height: 100vh;
            margin:0 0 0 60% ;
        
        }

        .wrapper {
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 10px;
        }

        
        
        /* MOBILE VERSION */
        @media  only screen and (max-width: 600px) {
            html, body {
                overflow-x: hidden;
              }
              body {
                width: auto;
                position: relative;
                -webkit-text-size-adjust: none;
              } 


              .leaflet-control-layers {
                position: relative;
                display: block;
                right: 215px;
                top: 10px;
              }

              #title {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                width: 90%;
                margin: 10px 10px 10px 15px;
                background-color: rgb(255, 255, 255, 0.7);
                font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 12px;
              }

              #showCoordinatesDiv {
                display: none;
            }

              #showCoordinates {
                display: none;
            }
            
            #p-hover {
                display: none;
            }

            #captureCoordinates {
                align-self: center;
            } 

            .main-left #title {
                margin-left: 5px;
                font-size: 1.6rem; 
                background-color: #ffe;
                z-index: 1000;
            }

            #map {
                width: 600px;
                height: 60vh;
            }

            .main {
                display: block;
                height: 100vh;
            }

            .main-left {
                float: none;
                width: 100%;
                height: 60vh;
                margin: 0 0 0 0;
            }

            .main-right {
                width: 100%;
                margin: 0 0 0 0;
                height: fit-content;
            }

            #footer {
                width: 100%;
                height: fit-content;
            }
    
        }

       
